<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>youquan</title>
</head>
{#详情页#}
<body>
            <div>
               <h1 >{{ blog.title }}</h1>
            </div>
            <div>
                <h5>正文:{{blog.content}}</h5>
            </div>
            <div>
                <h5> 作者:{{blog.owner}}</h5>
                <h5>发表时间:{{blog.create_time}}</h5>
                <h5>点击量:{{blog.click_nums}}</h5>
            </div>
            <div >
                {% for x in comment %}
                   <h5>评论内容:{{ x.content }}</h5>
                   <h5>评论人:{{ x.username }}</h5>
                   <h5>评论时间:{{ x.created_time }}</h5>
                {% endfor %}
            </div>
            <form action="{% url 'myxiangmu:article_add' %}" method="post">
            {% csrf_token %}
            <p>
                姓名: <input type="text" value="wu" name="username">
                时间: <input type="datetime" name="created_time" >
                 <input type="hidden" name="blog_id" value="{{ blog.id }}">
            </p>
            <p>
                正文: <input type="text" name="content">
            </p>
            <button>提交</button>
            </form>

</body>
</html>
