<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <title>游圈_个人中心</title>
  <link href="../static/css/base.css" rel="stylesheet">
  <script src="../static/js/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="../static/js/comm.js"></script>
</head>
<body>
<header>
  <div class="profile">
    <div class="avatar fl"><img src="../static/images/avatar.jpg"></div>
    <div class="guanzhu fl">
    </div>
    <div class="username">Baby的小家</div>
  </div>
  <nav>
   <ul id="starlist"> 
      <li><a href="{% url 'myxiangmu:myindex' %}">我的主页</a></li>
      <li><a href="{% url 'myxiangmu:time' %}">我的收藏</a></li>
      <li><a href="{% url 'myxiangmu:submit' %}">发表博文</a></li>
      <li><a href="{% url 'myxiangmu:perSet1' %}">个人设置</a></li>
      <li><a href="{% url 'myxiangmu:index' %}">返回首页</a></li>
      <li class="userexit"><a href="{% url 'myxiangmu:index' %}">注销用户</a></li>
    </ul>
  </nav>
</header>
<div>
	<article>
  	<div class="picsbox">
  		<!-- 2.用户安全 -->
    	<div class="rightinfo">
    		<div class="info1">
    			<p>基本信息</p>
    		</div>
    		<hr>
            <form action="/perSet1/" method="Post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="info2">
    			<p>用户姓名<input type="text" name="uname" maxlength="15" placeholder="请输入您的姓名"></p>
    			<p>用户昵称<input type="text" name="unichen" maxlength="10" placeholder="请输入昵称,不超过10字符"></p>
    			<p>用户性别:<input type="radio" name="sex" value="male" checked id="male" class="sex1"><label for="male">男</label>
    						<input type="radio" name="sex" value="female"  id="female" class="sex1"><label for="female">女</label></p>
                <p>生日<input type="text" name="birth" maxlength="10" placeholder="1990-01-01"></p>
    		</div>
                <div class="info1">
    		</div>
    		<div class="info2">
    			<p>手机<input type="text" name="phone" maxlength="12" placeholder="请输入您的手机号"></p>
    			<p>微信<input type="text" name="wechart" maxlength="15"></p>
    		</div>
    		<div class="lastinfo">
    			<input type="submit" value="提交">
    			<input type="reset" value="重置">
    		</div>
            </form>

    	</div>
  		<!-- 1.完善信息 -->
    	<div class="leftinfo">
    		<p id="user1"><a href="{% url 'myxiangmu:perSet1' %}">完善信息  ></a></p>
    		<p id="user2"><a href="{% url 'myxiangmu:perSet2' %}">用户安全  ></a></p>
    	</div>
 	</div>
  	<div class="blank"></div>
	</article>
</div>  
<footer>
  <p><a href="http://www.yangqq.com" target="_blank">For The Dream</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>

</body>
</html>