<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>游圈_个人中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../static/css/base.css" rel="stylesheet">
<script src="../static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/comm.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/js/jquery-1.11.3.js"></script>
<script src="../static/js/common1.js"></script>
</head>
<body>
<header>
  <div class="profile">
    <div class="avatar fl"><img src="../static/images/avatar.jpg"></div>
    <div class="guanzhu fl">

    </div>
    <div class="username">Baby的小家</div>
  </div>
  <nav>
    <ul id="starlist"> 
      <li><a href="{% url 'myxiangmu:myindex' %}">我的主页</a></li>
      <li><a href="{% url 'myxiangmu:time' %}">我的收藏</a></li>
      <li><a href="{% url 'myxiangmu:submit' %}">发表博文</a></li>
      <li><a href="{% url 'myxiangmu:perSet1' %}">个人设置</a></li>
      <li><a href="{% url 'myxiangmu:index' %}">返回首页</a></li>
      <li class="userexit"><a href="login">注销用户</a></li>
    </ul>
  </nav>
</header>
<article>
  <main class="r_box">
     <div class="timebox">
        <ul id="list" style="display:none;">
           {% for u in articles%}
            <li><span>{{u.collect_time}}</span><i><a href="#?time_id=u.id" target="_blank">{{u.collect_title}}</a></i></li>
            {%endfor%}


    </ul>
<ul id="list2"></ul><script src="../static/js/page2.js"></script>

     </div>
  </main>
</article>
<div class="blank"></div>
<footer>
  <p><a href="http://www.yangqq.com" target="_blank">For The Dream</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
